dist: trusty
sudo: required
shallow_clone: true
services:
  - docker
language: csharp
mono: none
dotnet: 2.1.4
install:
  - cd "$TRAVIS_BUILD_DIR/scripts"
  - npm install
script:
  - cd "$TRAVIS_BUILD_DIR/scripts"
  - npm run build
  - npm run test
deploy:
  provider: script
  script: cd scripts && npm run "deploy:travis-ci"
  skip_cleanup: true
  on:
    branch: master
notifications:
  email: false

# Web Interface settings:

## Disable "Build pushed pull requests"

## Environment Variables:
#### BORZOO_DOCKER_SETTINGS: '{ "host":"example.org:1234", "ca":"", "cert":"", "key":"" }'
#### BORZOO_APP_SETTINGS: '{ "env":"Staging", "settings":{ /* contents of appsettings.json */ } }'