dist: trusty
sudo: required
language: node_js
node_js:
  - node
branches:
  except:
  - gh-pages
notifications:
  email: false
services:
  - docker

jobs:
  include:
    - stage: Build
      name: "Build Docker images"
      install: cd scripts && npm ci && cd ..
      script: node scripts/build
      env:
        # DEPLOY_SETTINGS_JSON='{"CI":[{"type":"docker","options":{"user":"","pass":""}}]}'
        - secure: HYDbAUFc6muMg6mkpyWqIiNi/sC4//fUcTBeEC3/dV2s3HxD3wXDIcO+yn3HhQnSHqA+7LHGCDVjeWIFpw6+jbSSWsSPbr9U6pyQHQHk+jNOPpLi9J2QiFS5z/Tr9sN+ca+fOv/xN8/RK1uicFwT5nZi0J96jGzrDDSCfYFhQWmaAy8dHmO/MF2ssjbQTTXePIg8x3nYsQEInVALh7iGmg3QBHC5wswLFGzH8rKc2CfQ6PJ4BQrJCkM9nERqrICp+YGCXjMo3jvrQ2qzepHKcLrl1Pst1kkgjjDi2/3NxbsyuIfSmwYtvX4GwbVJMXLLbHO//AmVH5gwQRaYPZJHJW6AVA3ByyiE3AeatogLyE5lfcDS59p6ov70Mn3kbH9M+tNHu7tGtMIkoslVAVmLkm+0Nyl8quEXr3ZcCv/Gs0JFqUZZya5Dmax9wq9QnDr/iEeoKHoW/g9I5gfQSGOvOdvzJOZH7HAVpoWP35Ufpt4u0Dc43rh867R7yog7FQFylBDSKA588/pzA+e3UakU8pLcy/D31H5F+h+dV2fS1O04Vjt48q6e8QI8lQC/vPNd9HBn0Yu63n2CJ1iwwki591mio+Bji3qlHEQpekXTQXS07smcS6wW8zoidyX0QW+3hEDf1DdcirAZPVY1PM9h/N7RpotNXvgY6IE1h+e/o14=
    - stage: Test
      name: "Borzoo tests"
      install: cd scripts && npm ci && cd ..
      script: echo ToDo
    - name: "Vivid Operations - Systems Integration Tests"
      install:
        - cd scripts && npm ci && cd ..
        - docker pull zevere/botops-vivid:unstable-solution
      env:
        - image_tag=zevere/botops-vivid:unstable-solution
      script: node scripts/test/ops.integration.test.js
    - name: "Postman Tests"
      install: cd scripts && npm ci && cd ..
      script: node scripts/test/postman.test.js
    - stage: Deploy
      name: "Deploy"
      script: skip
      install:
        - cd scripts && npm ci && cd ..
        - docker pull zevere/webapi-borzoo:unstable
      env:
        # DEPLOY_SETTINGS_JSON='{"Staging":[
        #   {"type":"docker","options":{"source":"zevere/webapi-borzoo:unstable","target":"zevere/webapi-borzoo:edge","user":"","pass":""}},
        #   {"type":"heroku","options":{"app":"zv-s-webapi-borzoo","source":"zevere/webapi-borzoo:edge","dyno":"web","user":"","token":""}}
        # ]}'
        - secure: 0R6NW4t25+8i/9bzjUHlY2wnYyfoMkDG8PRY5n+ObnY4ely1YehVNSefqbGZMbf5u6xehIlwHJm6ecLtMjuzV3nOvVOPuptzDdu2cqPJcpy8QQMJCe40uNTWKc+3/1OGNWUhkxMy+rn7XJLJXi9b24olvn41LYK0Bq1r0Y1rmYP568boJpdjyKMUTAt5Ghcg1WvKeVS8FttzyQgLJiwgP3muKVA3Iv3kysUMVMVw7qb6yAsp4Z7ZU1k6042F8LqEqRNEPAFIIUM8/nhd6xeR+otVn8nd4skUS++vKqPVtO91tfGeF5n7bnmbh3Xjfljqy5ZivWFvMOMLmEteEEJAQ+FOkxT6tRhPJX1DQGiwLXKYjyA359VonNjaIsZRoGewJKas1FmRgp9JCjUiY2XAewG9ukCC7hDrfeBXu47plM45JZxbCjniFTzFc8E4TMD7bGTUU6FUbeZYSHOB0KZgOppIVVWKogu4AOLNcUXh96ZyZFOwX+1zN8EBJRBin0Ry6GJ9VseRFPJR1TqSohqdlN7f7yHNi9XNGzh7XlCuOKKMf6Hyx1XgCuNcmR8qbwBjO8n/F/Cun+Y1o7PEVMT1oxbIy5ttcZwDSsxQ5X5aj08OSxi8K2yiViYHDTdhm4IoZHuoqvYtSczfFcdEsx/h4m+LjOGFfW+BvVV8JUdKT2Q=
      deploy:
        - provider: script
          skip_cleanup: true
          script: node scripts/deploy Staging
          on:
            branch: develop
    - stage: PIV
      name: "PIV Checks"
      script: echo ToDo


# Disable "Build pushed pull requests"
