dist: trusty
sudo: required
language: node_js
node_js:
  - node
branches:
  except:
  - gh-pages
notifications:
  email: false
services:
  - docker
install:
  - docker pull microsoft/dotnet:2.1-sdk
  - cd ci && npm install && cd ..

script:
  - node ci/build && node ci/test

deploy:
  - provider: script
    skip_cleanup: true
    script: node ci/deploy Staging
    on:
      branch: ci
# TODO branch: develop      
  - provider: script
    skip_cleanup: true
    script: node ci/deploy Production
    on:
      branch: master


# Disable "Build pushed pull requests"


# env:
#   APP_SETTINGS_JSON: A mapping of environment to the content of appsettings.{ENV}.json file.
#       '{ "Staging": { /* contents of appsettings.Staging.json */ }, "Production": { /* ... */ } }'
#   DEPLOY_SETTINGS_JSON: A mapping of environment to the deployment types and their options.
#       '{
#         "Staging": [
#           { "type": "heroku", 
#             "options": { "app": "foo-staging", "source": "foo:latest", "dyno": "web", "user": "foo@example.org", "token": "TOKEN" }
#           },
#           { "type": "docker", "options": { "source": "foo:edge", "target": "foo/bar:latest", "user": "foo", "pass": "PASS" } },
#         ],
#         "Production": [ /* ... */ ]
#       }'
### if deploying using Docker Compose:
#   DOCKER_SETTINGS_JSON: '{ "host":"example.org:1234", "ca":"", "cert":"", "key":"" }'
