dist: trusty
sudo: required
services:
  - docker
language: csharp
mono: none
dotnet: 2.1.4
install:
  - cd scripts
  - npm install
  - cd ..
script:
  - node scripts/build/build.js
  # - node scripts/test/test.js
deploy:
  provider: script
  script: bash scripts/deploy/travis-ci/deploy-staging.sh
  on:
    branch: develop
notifications:
  email: false
# env:
  # BORZOO_DOCKER_HOST: 'example.org:1234'
  # BORZOO_DOCKER_CERTS: '{ "ca":"", "cert":"", "key":"" }'
