dist: trusty
sudo: required
services:
  - docker
language: csharp
mono: none
dotnet: 2.1.4
install:
  - cd scripts
  - npm install
  - cd ..
script:
  - node scripts/build/build.js
  - node scripts/test/test.js
deploy:
  provider: script
  script: node scripts/deploy/travis-ci/predeploy-staging.js && node scripts/deploy/deploy-docker-compose.js
  on:
    branch: master
notifications:
  email: false

# Web Interface settings:

## Disable "Build pushed pull requests"

## Environment Variables:
#### BORZOO_DOCKER_SETTINGS: '{ "host":"example.org:1234", "ca":"", "cert":"", "key":"" }'
#### BORZOO_APP_SETTINGS: '{ "env":"Staging", "settings":{ /* contents of appsettings.json */ } }'